<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/response.css">
    <title>Document</title>
</head>
<body>
    <h1 class="none">Your response has been sent!</h1>
    <a class="ctscan" href="https://portfolio-website-omega-blue.vercel.app/" target="_blank" rel="noopener noreferrer">
    Click here to go back
</a>
</body>
</html>
